<app-menu-nav></app-menu-nav>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h2 class="english" >About Page </h2>
            <!--<h2 class="english" *ngIf="classReference.textDir=='LTR'">About Page </h2>
            <h2 class="arabic" *ngIf="classReference.textDir=='RTL'">حول الموقع </h2>-->

        </mat-card-title>

    </mat-card-header>

    <mat-card-content >
        <h4   style='margin-top:30px;' dir="ltr">
            We are Tradinos; Creative Hub, we bring creative people together, as a convenor that focuses on both the practical and artistic process of building an app, finding technical solutions, applying technology in a creative content and proposing viable ideas, boosted by a deep talent pool of technology experts.
        </h4>
    </mat-card-content>

</mat-card>


